
{% include 'breadcrumb' %}

<div class="row">
  {% section 'product-sidebar' %}
  {% section 'product-template' %}
  {% include 'home-findify-rec-2-snippet' %}
  
</div>

{% section 'recently-viewed-products' %}
{% include ‘product-schema’ %}